extends layout

block content
	h2 create new poll
	form(id="createPoll", action="/createPoll" method="post")
		div.form-group
			label question
			input.form-control(name="question", autofocus=true, placeholder='boopiest or snootiest?')
		div.form-group
			label answer #1
			input.form-control(name="answer_1", placeholder='yes')
		div.form-group
			label answer #2
			input.form-control(name="answer_2", placeholder='no')
		div#addNewAnswer.form-group
			input.btn.btn-default(type="button", value="+")
		div.form-group
			input.btn.btn-primary.btn-block(type="submit", value="submit")

	script.
		var counter = 3;
		var addAnswerDiv = $("#addNewAnswer");
		var pollForm = $("#createPoll");

		addAnswerDiv.click(function () {
			var newDiv = $(document.createElement("div"));
			newDiv.addClass('form-group');
			newDiv.insertBefore(addAnswerDiv);

			var newLabel = $(document.createElement("label"));
			newLabel.html('answer #' + counter);
			newDiv.append(newLabel);

			var newAnswer = $(document.createElement("input"));
			newAnswer.addClass('form-control');
			newAnswer.attr('name', "answer_" + counter++);
			newDiv.append(newAnswer);
		});