extends layout

block content
	h2=question
	form(action=voteUrl, method="post")
		each answer in answers
			input(name="voteValue", value=answer.id, type="radio")
			label=answer.name
		input(type="submit", value="vote")