extends layout

block content
	h2=question
	div#voteDiv
		form(action=voteUrl, method="post")
			each answer in answers
				div.radio
					label
						input.radio(name="voteValue", value=answer.id, type="radio")
						|#{answer.name}
			input.btn.btn-primary(type="submit", value="vote")